[Definition]
actionstart =
actionstop =
actioncheck =
actionban =   ufw insert 1 deny from <ip> to any port {{ sshd_port }} proto tcp
actionunban = ufw delete   deny from <ip> to any port {{ sshd_port }} proto tcp
